@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.row{
    background-color: #F9F5F1;
    padding: 1.5rem 0rem;
    border-radius: 10px;
    border: 1px solid #E1DFDB;
    width: 380px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0%;
    font-size: 15pt;
}